/* VARIABLES */
:root {
  /* Fuentes */
  --primary-font: "Lato", sans-serif;

  /* Colores */
  --sunny-color: #45b6ff;
  --cloudy-color: #399ff7;
  --rainy-color: #468ef0;
  --fog-color: #37d5fb;
  --storm-color: #693cc2;
  --night-color: #202153;
  --white: #fff;
  --white-transparent: rgb(255 255 255 / 0.3);

  /* MediaQueries */
  --phone: 480px;
  --tablet: 768px;
  --desktop: 1024px;
  --desktop-xl: 1280px;
}

/* BASE */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
  font-weight: 300;
  background-color: var(--night-color);
}

img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
}

[class$="__container"] {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

/* TIPOGRAFÃA */
h1,
h2,
h3 {
  margin: 0;
  line-height: 1.3;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

[class$="__heading"] {
  margin: 2rem 0;
}

a {
  text-decoration: none;
}

p {
  font-size: 2rem;
  line-height: 1.5;
}

/* COMPONENTES */

/* Alertas */

.alert {
  border: 0.1rem solid transparent;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

.alert--error {
  border-color: #ac0000;
  background-color: #fbd9d5;
  color: #ac0000;
}

/* Loaders */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  transform: rotate(45deg);
  background: var(--white);
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 24px solid var(--night-color);
  animation: prixClipFix 2s infinite linear;
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

/* LAYOUT */

/* Header */
.header {
  display: flex;
  justify-content: center;
  padding: 2rem;
  color: var(--white);
}

@media (width >= 76.8rem) {
  .header {
    padding: 3rem;
  }
}

.search-form {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: 1rem;
}

.search-form__input {
  outline: none;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem;
  background-color: var(--white-transparent);
  color: var(--white);
}

.search-form__input::placeholder {
  color: var(--white);
}

.search-form__input--select > option {
  color: var(--sunny-color);
}

.search-form__btn {
  transition: background-color 0.2s ease-in-out;
}

@media (hover: hover) {
  .search-form__btn:hover {
    background-color: rgb(255 255 255 / 0.5);
  }
}

/* Main */
.main {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.result {
  background-color: var(--white-transparent);
  width: 100%;
  max-width: 40rem;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
}

.result__temperature {
  margin: 0.5rem 0 0;
  font-size: 3.8rem;
  font-weight: 700;
}

.result__icon {
  height: 15rem;
}

.result__description {
  margin: 0;
  font-size: 2.4rem;
  font-weight: 300;
  text-transform: capitalize;
}

.result__range {
  margin: 0.5rem 0;
  color: var(--white);
  font-weight: 300;
}
